/*
Color Pallet:
	#f4f3ec || Pearl-white -- Back for the body
	#f2e9da || Sand -- Borders
	#b9d9c6 || Light Green -- Back for buttons
	#83c7b4 || Sea Green -- Back for panels
	#57bead || Blue-Green -- Selected
*/

* {
    font-family: "Times New Roman", Times, serif;
    font-size: 24px;
}

header {
	background-color: #83c7b4;
}

body {
	background-color: #f4f3ec;
}

a {
	text-decoration: none;
}

img {
	float: left;
	margin: 15px;
	padding-right: 10px;
	padding-left: 25px;
}

html,body {
margin: 0px;
padding: 0px;
border: 0px;
left: 0px;
top: 0px;
}

label {
  display: inline;
  width: 250px;
  text-align: right;
}

.navLink {
    background-color: #83c7b4;
	padding-bottom: 5px;
	padding-top: 5px;
	padding-left: 10px;
	padding-right: 10px;
	display: flex;
	justify-content: center;
}

.navLink a:visited {
	color: black;
}

.navlink a {
    text-align: center;
    padding: 5px 30px;
    text-decoration: none;
    font-size: 17px;
	margin: 20px;
	padding-right: 3px;
}

.navLink a:hover {
	background-color: #57bead;
}

.dropdown {
    text-align: center;
    padding-bottom: 5px;
	padding-top: 5px;
	padding-left: 10px;
	padding-right: 10px;
    text-decoration: none;
	display: inline-block;
}

.navInputs{
    color: #83c7b4;
	padding: 5px 30px;
    text-align: center;
    font-size: 17px;
	padding-right: 1%;
	border: 2px solid #f2e9da;
	width: fit-content;
	background-color: #b9d9c6;
}

.searchEntry{
	background-color: #b9d9c6;
	border: 2px solid #f2e9da;
}

.centered {
	text-align: center;
	margin: auto;
}

.branding {
	float: center;
	text-align: center;
}

footer {
	background-color: #83c7b4;
	display: flex;
	justify-content: center;
	padding: 10px;
    position: absolute; 
    bottom: 0; 
    left: 0; 
    z-index: 10;
	width: 100%;
}

.box1 {
	margin: 5px;
}

.box2 {
	margin: 3px;
}

ul {
	padding-left: 40%;
}

li {
	list-style-position: initial;
}

.contact_us-button {
	border: 2px solid #f2e9da;
	background-color: #b9d9c6;
	width: 150px;
	text-align: center;
	color: black;
}

.contact_us-button:hover {
	background-color: #57bead;
}

.navLink-button {
	border: 2px solid #f2e9da;
	background-color: #b9d9c6;
	width: 100px;
	text-align: center;
	color: black;
}

.form-border {
	border: 2px solid #f2e9da;
	background-color: #83c7b4;
	width: 50%;
	padding-bottom: 50px;
	text-align: center;
	color: black;
}

.dropDown_content-border {
	border: 2px solid #f2e9da;
	background-color: #b9d9c6;
	width: auto;
	padding: 2px;
	text-align: center;
	color: black;
}

.dropdown-button {
	border: 2px solid #f2e9da;
	background-color: #b9d9c6;
	width: 170px;
	text-align: center;
	color: black;
}

.selected {
	background-color: #57bead;
}

#searchSubmitButton {
	background-color: #b9d9c6;
	border: 2px solid #f2e9da;
}

#searchSubmitButton:hover {
	background-color: #57bead;
}

.vertical-display-images {
	display: inline-block;
	width: 25%
}

.vertical-display-text {
	display: inline-block;
	width: 75%
}

/*
CSS below is for implementing the navigation bar and making it hoverable
*/

.dropdown-content {
    display: none;
    position: absolute;
	border: 2px solid #f2e9da;
	background-color: #83c7b4;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown:hover .dropdown-content {
    display: block;
	width: auto;
	background-color: #83c7b4;
}

.dropdown-content a {
    display: block;
    color: black;
    padding: 5px;
    text-decoration: none;
}

.dropdown-content a:hover {
    color: black;
    background-color: #57bead;
}